* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}
.logo h1 {
    color: white;
}

/* Header Styles */
header {
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo
{
    position: relative;
    padding-left:20px;
    margin-right: auto;
}
.Header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position:relative;
    background: skyblue;
    opacity: 0.9;
    width:100%;
    height: 70px;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
}

ul li {
    margin: 0 15px;
    height: 100%;
    color:white;
    font-size: 22px;
}

ul li a{
    text-decoration: none;
    color:white;
}
ul li a:hover{
    color:darkblue;
}
.login-btn {
    background-color: #2980b9;
    padding: 8px 15px;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: white;
    color:black;
}

/* Main Content Styles */
.main-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    color: #2980b9;
    margin-bottom: 20px;
}

.main-content p {
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

/* Grid Section for Parental Involvement */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.grid-item {
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.grid-item h3 {
    color: #2980b9;
    margin-bottom: 15px;
}

.grid-item p {
    color: #555;
    line-height: 1.6;
}

/* Resource Section */
.resources {
    margin-top: 50px;
}

.resources h3 {
    color: #2980b9;
    margin-bottom: 20px;
}

.resources ul {
    padding-left: 20px;
    color:#2980b9;
    display:block;
}

.resources ul li {
    margin-bottom: 10px;
    list-style-type: square;
    color:#2980b9;
}
.resources ul li a {
    color:#2980b9;
}
.resources ul li a:hover{
    color:darkblue;
}
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #2980b9;
    color: white;
}

.marquee-container {
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.marquee {
    display: flex;
    animation: scroll 20s linear infinite;
}

.marquee img {
    margin: 0 20px;
    width: 80%;
    height: 550px;
    border-radius: 8px;
}

.marquee > div {
    display: flex;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}